<a href="https://colab.research.google.com/github/AYOUNGHI/AYOUNGHI/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_(39_86).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 핸들링-판다스

핵심 객체: DataFrame

-> 행과 열로 이뤄진 2차원 데이터


### 데이터 프레임

In [32]:
import pandas as pd
import io

In [34]:
from google.colab import files
myfile = files.upload()
#주피터 노트북 사용하지 않고 직접 업로드

Saving train.csv to train (4).csv

In [35]:
titanic_df=pd.read_csv(io.BytesIO(myfile['train.csv']))
print('titanic 변수 type:',type(titanic_df))
titanic_df

titanic 변수 type: <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

데이터프레임 행과 열 크기 알아보기-shape이용

In [36]:
print('DataFrame 크기:',titanic_df.shape)

DataFrame 크기: (891, 12)

데이터 타입, Null건수 확인

In [37]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

describe 사용-> 개략적인 수준의 분포도 확인



*   n-percentile 분포도
*   평균값, 최댓값, 최솟값

In [38]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Pclass 칼럼의 분포도만 확인

In [39]:
value_counts=titanic_df['Pclass'].value_counts()
print(value_counts)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [40]:
titanic_pclass=titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

In [41]:
#앞의 5개 값만 추출
titanic_pclass.head()

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

In [ ]:
value_counts=titanic_df['Pclass'].value_counts() #Series 객체
print(type(value_counts))
print(value_counts)

### 넘파이 ndarray, 리스트, 딕셔너리를 dataframe으로 변환하기

1차원 데이터로 만들기

In [ ]:
import numpy as np

col_name1=['col1']
list1=[1,2,3]
array1=np.array(list1)
print('array1 shape: ',array1.shape)

#리스트를 이용해 데이터프레임 생성
df_list1=pd.DataFrame(list1,columns=col_name1)
print('1차원 리스트로 만든 데이터프레임:\n',df_list1)

#넘파이 ndarray를 이용해 데이터프레임 생성
df_array1=pd.DataFrame(array1,columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n',df_array1)

2차원 데이터 이용하기

In [ ]:
#3개의 칼럼명이 필요함
col_name2=['col1','col2','col3']

#2열x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환
list2=[[1,2,3],
       [11,12,13]]
array2=np.array(list2)
print('array2 shape:',array2.shape)
df_list2=pd.DataFrame(list2,columns=col_name2)
print('2차원 리스트로 만든 DataFrame:\n',df_list2)
df_array2=pd.DataFrame(array2,columns=col_name2)
print('2차원 ndarray로 만든 DataFrame:\n',df_array2)

딕셔너리를 데이터프레임으로

In [ ]:
dict={'col1':[1,11],'col2':[2,22],'col3':[3,33]}
df_dict=pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n',df_dict)

###DataFrame을 넘파이, ndarray, 리스트, 딕셔너리로 변환

In [ ]:
# ndarray로 변환
array3=df_dict.values
print('df_dict.values 타입:',type(array3),'df_dict.values shape:',array3.shape)
print(array3)

#DataFrame을 리스트로
list3=df_dict.values.tolist()
print('df_dict.values.tolist()타입:',type(list3))
print(list3)

#DataFrame을 딕셔너리로 
dict3=df_dict.to_dict('list')
print('\n df_dict.to_dict() 타입:',type(dict3))
print(dict3)

데이터 프레임의 칼럼 데이터 세트 생성과 수정

In [ ]:
titanic_df['Age_0']=0
titanic_df.head(3)

In [ ]:
titanic_df['Age_by_10']=titanic_df['Age']*10
titanic_df['Family_No']=titanic_df['SibSp']+titanic_df['Parch']+1
titanic_df.head(3)

titanic_df['Age_by_10']=titanic_df['Age_by_10']+100
titanic_df.head(3)

dataframe 데이터 삭제

In [ ]:
titanic_drop_off=titanic_df.drop('Age_0',axis=1)
titanic_drop_df.head(3)

In [ ]:
titanic_df.head(3)

In [ ]:
drop_result=titanic_df.drop(['Age_0','Age_by_10','Family_No'],axis=1,inplace=True)
print('inplace=True로 drop 후 반환된 값:',drop_result)
titanic_df_head(3)

In [ ]:
pd.set_option('display.width',1000)
pd.set_option('display.max_colwidth',15)
print('#### before axis 0 drop ####')
print(titanic_df.head(3))

titanic_df.drop([0,1,2],axis=0,inplace=True)

print('#### after axis 0 drop ####')
print(titanic_df_head(3))

Index 객체

In [ ]:
#원본 파일 다시 로딩
titanic_df=pd.read_csv(io.BytesIO(myfile['train.csv']))

#Index 객체 추출
indexes=titanic_df.index
print(indexes)

#index 객체를 실제 값 array로 변환
print('Index 객체 array값:\n',indexes.values)

In [ ]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

In [ ]:
indexes[0]=5

In [ ]:
series_fair=titanic_df['Fare']
print('Fair Series max 값:',series_fair_max())
print('Fair Series sum 값:',series_fair_sum())
print('sum() Fair Series:',sum(series_fair))
print('Fair Series + 3\n',(series_fair + 3),head(3))

In [ ]:
titanic_reset_df=titanic_df,reset_index(inplace=False)
titanic_rest_df.head(3)

In [ ]:
print('### before reset_index ###')
value_counts=titanic_df['Pclass'].value_counts()
print(value_counts)
print('value_counts 객체 변수 타입:',type(value_counts))
new_value_counts=value_counts.reset_index(inplace=False)
print('### After reset_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:',type(new_value_counts))

데이터프레임의 []연산자

In [ ]:
print('단일 칼럼 데이터 추출:\n',titanic_df['Pclass'].head(3))
print('\n여러 칼럼 데이터 추출:\n',titanic_df['Survives','Pclass'].head(3))
print('[] 안에 숫자 index는 KeyErrror 오류 발생:\n',titanic_df[0])

In [ ]:
titanic_df[0:2]

In [ ]:
titanic_df[titanic_df['Pclass']==3].head(3)

In [ ]:
print('칼럼 위치 기반 인덱싱 데이터 추출:',titanic_df.ix[0,2])
print('칼럼명 기반 인덱싱 데이터 추출:',titanic_df.ix[0,'Pclass'])

In [ ]:
data={'Name':['Chulmin','Eunkyung','Jingwoong','Soobeom'],
      'Year':[2011,2016,2015,2015],
      'Gender':['Male',"Female",'Male','Male']
      }
data_df=pd.DataFrame(data,index=['one','two','three','four'])
data_df

명칭 기반 인덱싱과 위치 기반 인덱싱의 구분

In [ ]:
data_df_reset=data_df.reset_index()
data_df_reset=data_df_reset.rename(columns={'index':'old_index'})

#인덱스값에 1을 더해서 1부터 시작하는 새로운 인덱스값 생성
data_df_reset.index = data_df_reset.index +1
data_df_reset

In [ ]:
data_df_reset.ix[1,1]

DataFrame iloc[] 연산자

In [ ]:
data_df.iloc[0,0]

In [ ]:
data_df.iloc[0,'Name']

In [ ]:
data_df.iloc['one',0]

In [ ]:
data_df_reset.iloc[0,1]

In [ ]:
data_df.loc['one','Name']

In [ ]:
data_df_reset.loc[1,'Name']

In [ ]:
data_df_reset.loc[0,'Name']

In [ ]:
print('명칭 기반 ix slicing\n',data_df.ix['one':'two','Name'],'\n')
print('위치 기반 iloc slicing\n',data_df.iloc[0:1,0],'\n')
print('명칭 기반 loc slicing\n',data_df.loc['one':'two','Name'])

In [ ]:
print(data_df_reset.loc(1:2,'Name'))

In [ ]:
print(data_df.ix[1:2],'Name')

불린 인덱싱

In [ ]:
titanic_df=pd.read_csv(io.BytesIO(myfile['train.csv']))
titanic_boolean=titanic_df[titanic_df['Age']>60]
print(type(titanic_boolean))
titanic_boolean

In [ ]:
titanic_df[titanic_df['Age']>60][['Name','Age']].head(3)

In [ ]:
titanic_df.loc[titanic_df['Age']>60,['Name','Age']].head(3)

In [ ]:
titanic_df[(titanic_df['Age']>60) & (titanic_df['Pclass']==1) & (titanic_df['Sex']=='female')]

In [ ]:
cond1=titanic_df['Age']>60
cond2=titanic_df['Pclass']==1
cond3=titanic_df['Sex']=='female'
titanic_df[cond1 & cond2 & cond3]

정렬, Aggregation 함수, GroupBy 적용

In [ ]:
titanic_sorted=titatnic_df.sort_values(by=['Name'])
titanic_sorted.head(3)

In [ ]:
titanic_sorted=titatnic_df.sort_values(by=['Pclass','Name'],ascending=False)
titanic_sorted.head(3)

In [ ]:
titanic_df.count()

In [ ]:
titanic_df[['Age','Fare']].mean()

In [ ]:
titanic_groupby=titanic_df.groupby(by='Pclass')
print(type(titanic_groupby))

In [ ]:
titanic_groupby=titanic_df.groupby('Pclass').count()
titanic_groupby

In [ ]:
titanic_groupby=titanic_df.groupby('Pclass')[['PassengerId','Survived']].count()
titanic_groupby

In [ ]:
titanic_df.groupby('Pclass')['Age'].agg([max,min])

In [ ]:
agg_format={'Age':'max','SibSp':'sum','Fare':'mean'}
titanic_df.groupby('Pclass').agg(agg_format)

In [ ]:
titanic_df.isna().head(3)

In [ ]:
titanic_df.isna().sum()

In [ ]:
titanic_df['Cabin']=titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)

In [ ]:
titanic_df["Age"]=titanic_df['Age'].fillna(titanic['Age'].mean())
titanic_df["Embarked"]=titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()