<a href="https://colab.research.google.com/github/AYOUNGHI/AYOUNGHI/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 파이썬 기반의 머신러닝과 생태계 이해**

### **1) 머신러닝의 개념**



> 애플리케이션을 수정하지 않고도 데이터를 기반으로 패턴을 학습하고 결과를 예측하는 알고리즘 기법

> 데이터를 기반으로 통계적인 신뢰도를 강화하고 예측 오류를 최소화하기 위한 다양한 수학적 기법을 적용해 데이터 내의 패턴을 스스로 인지하고 신뢰도 있는 예측 겨로가를 도출해 내게 함

> **머신러닝의 분류**

> 

*   지도학습
>> 

1.   분류
2.   회귀
3. 추천 시스템
4. 시각/음성 감지/인지
5. 텍스트 분석,NLP


*   비지도 학습
1. 클러스터링
2. 차원 축소
3. 강화학습

> **데이터 전쟁**

> 데이터에 매우 의존적인 머신러닝 -> 데이터를 이해하고 효율적으로 가공, 처리, 추출해 최적의 데이터를 기반으로 알고리즘을 구동할 수 있도록 준비하는 능력 중요 -> 다양하고 광대한 데이터=좋은 품질의 머신러닝 모델!

> **파이썬과 R 기반의 머신러닝 비교**

> R은 통계 전용 프로그램 -> 통계 전문가들에게 추천
> 파이썬은 다양한 영역에서 사용되는 개발 전문 프로그램 언어 -> 소리 없이 프로그래밍 세계를 점령하고 있는 언어!

### **2) 파이썬 머신러닝 생태계를 구성하는 주요 패키지**
> 

1.   머신러닝 패키지
> 사이킷런
2.   행렬/선형대수/통계 패키지
> 넘파이 
3. 데이터 핸들링
> 판다스, 맷플롯립(시각화)
4. 시각화
>맷플롯립, 시본


### **3) 넘파이**

**넘파이 ndarray개요**

패키지 입력

In [1]:
import numpy as np

array 함수 이용

In [6]:
array1=np.array([1,2,3])
print('array1 type',type(array1))
print('array1 array 형태:',array1.shape)

array2=np.array([[1,2,3],
                 [2,3,4]])
print('array2 type:',type(array2))
print('array2 array 형태:',array2.shape)

array3=np.array([1,2,3])
print('array3 type',type(array3))
print('array3 array 형태:',array3.shape)

array1 type <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type <class 'numpy.ndarray'>
array3 array 형태: (3,)

array 차원을 ndarray.dim이용해 확인하기

In [8]:
print('array1: {:0}차원, array2: {:1}차원, array3: {:2}차원'.format(array1.ndim,array2.ndim,array3.ndim))

array1: 1차원, array2: 2차원, array3:  1차원

**ndarray의 데이터 타입**


숫자, 문자열, 불 값 모두 가능
한 객체에 같은 데이터 타입만 가능

In [9]:
list1=[1,2,3]
print(type(list1))
array1=np.array(list1)
print(type(array1))
print(array1,array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

다른 데이터 유형이 섞인 경우 ndarray 이용하기

In [11]:
list2=[1,2,'test']
array2=np.array(list2)
print(array2,array2.dtype)

list3=[1,2,3.0]
array3=np.array(list3)
print(array3,array3.dtype)

['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [12]:
array_int=np.array([1,2,3])
array_float=array_int.astype('float64')
print(array_float,array_float.dtype)

array_int1=array_float.astype('int32')
print(array_int1,array_int1.dtype)

array_float1=np.array([1.1,2.1,3.1])
array_int2=array_float.astype('int32')
print(array_int2,array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

**ndarray를 편리하게 생성하기-arange,zeros,ones**

In [14]:
sequence_array=np.arange(10)
print(sequence_array)
print(sequence_array.dtype,sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

default함수 인자는 stop 값이며, 0부터 stop값인 10에서 -1을 더한 9까지의 연속 숫자 값으로 구성된 1차원 ndarray를 만듦

zeros()는 함수 인자로 튜플 형태의 shape 값을 입력하면 모든 값을 0으로 채운 해당 shape를 가진 ndarray 반환해줌

유사하게 ones()는 함수 인자로 튜플 형태의 shape 값을 입력하면 모든 값을 1로 채운 해당 shape를 가진 ndarray를 반환

In [15]:
zero_array=np.zeros((3,2),dtype='int32')
print(zero_array)
print(zero_array.dtype,zero_array.shape)

one_array=np.ones((3,2))
print(one_array)
print(one_array.dtype,one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

**reshape 함수**
ndarray의 차원과 크기 변경

In [21]:
array1 = np.arange(10) 
print('array1:\n', array1) 

array2 = array1.reshape(2, 5) 
print('array2:\n', array2) 

array3 = array1 .reshape(5, 2) 
print( 'array3:\n', array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

지정된 사이즈로 변경이 불가능하면 오류 발생

In [23]:
array1.reshape(4,3)

ValueError: ignored

In [25]:
array1 = np.arange(10) 
print(array1) 
array2 = array1.reshape(-1, 5) 
print(' array2 shape:', array2.shape) 
array3 = array1.reshape(5, -1) 
print('array3 shape:', array3.shape)

[0 1 2 3 4 5 6 7 8 9]
 array2 shape: (2, 5)
array3 shape: (5, 2)

In [26]:
array1=np.arange(10)
array4=array1.reshape(-1,4)

ValueError: ignored

In [33]:
array1= np.arange(8) 
array3d= array1.reshape((2, 2, 2)) 
print('array3d:\n', array3d.tolist()) 

#3차원 ndarray를 2차원 ndarray로 변환 
array5 = array3d. reshape(-1, 1) 
print('array5:\n', array5. tolist()) 
print('array5 shape:', array5. shape) 

#1차원 ndarray를 2차원 ndarray로 변환 
array6 = array1 .reshape(-1, 1) 
print('array6:\n', array6.tolist()) 
print('array6 shape:', array6 .shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape: (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape: (8, 1)

#### **넘파이의 ndarray의 데이터 세트 선택하기-인덱싱**

*   특정한 데이터만 추출
*   슬라이싱


*   팬시 인덱싱
*   불린 인덱싱



**단일 값 추출**

In [34]:
#1부터 9까지의 1차원 ndarray 생성
array1=np.arange(start=1,stop=10)
print('array1:',array1)

#index는 0부터 시작하므로 array1[2]는 3번째 index 위치의 데이터값을 의미
value=array1[2]
print('value:',value)
print(type(value))

array1: [1 2 3 4 5 6 7 8 9]
value: 3
<class 'numpy.int64'>

In [35]:
print('맨 뒤의 값:',array1[-1],'맨 뒤에서 두 번째 값:',array1[-2])

맨 뒤의 값: 9 맨 뒤에서 두 번째 값: 8

단일 인덱스 이용

In [36]:
array1[0]=9
array1[8]=0
print('array1:',array1)

array1: [9 2 3 4 5 6 7 8 0]

In [41]:
array1d=np.arange(start=1,stop=10)
array2d=array1d.reshape(3,3)
print(array2d)

print('(row=0,col=0) index 가리키는 값:',array2d[0,0])
print('(row=0,col=1) index 가리키는 값:',array2d[0,1])
print('(row=1,col=0) index 가리키는 값:',array2d[1,0])
print('(row=2,col=2) index 가리키는 값:',array2d[2,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0,col=0) index 가리키는 값: 1
(row=0,col=1) index 가리키는 값: 2
(row=1,col=0) index 가리키는 값: 4
(row=2,col=2) index 가리키는 값: 9

슬라이싱
> ':'이용

In [37]:
array1=np.arange(start=1,stop=0)
array3=array1[0:3]
print(array3)
print(type(array3))

[]
<class 'numpy.ndarray'>

In [42]:
array1=np.arange(start=1,stop=10)
array4=array1[:3]
print(array4)

array5=array1[3:]
print(array5)

array6=array1[:]
print(array6)

[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

2차원 ndarray 슬라이싱 하기

In [43]:
array1d=np.arange(start=1,stop=10)
array2d=array1d.reshape(3,3)
print('array2d:\n',array2d)

print('array2d[0:2,0:2] \n',array2d[0:2,0:2])
print('array2d[1:3,0:3] \n',array2d[1:3,0:3])
print('array2d[1:3,:] \n',array2d[1:3,:])
print('array2d[:,:] \n',array2d[:,:])
print('array2d[:2,1:] \n',array2d[:2,1:])
print('array2d[:2,0] \n',array2d[:2,0])

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2,0:2]
 [[1 2]
 [4 5]]
array2d[1:3,0:3]
 [[4 5 6]
 [7 8 9]]
array2d[1:3,:]
 [[4 5 6]
 [7 8 9]]
array2d[:,:]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2,1:]
 [[2 3]
 [5 6]]
array2d[:2,0]
 [1 4]

In [44]:
print(array2d[0])
print(array2d[1])
print('array2d[0] shape:',array2d[0].shape,'array2d[1] shape:',array2d[1].shape)

[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

팬시 인덱싱
> 인덱스 집합을 지정하면 해당 위치의 인덱스에 해당하는 ndarray 반환

In [45]:
array1d=np.arange(start=1,stop=10)
array2d=array1d.reshape(3,3)

array3=array2d[[0,1],2]
print('array2d[[0,1],2] -> ',array3.tolist())

array4=array2d[[0,1],0:2]
print('array2d[[0,1],0:2] -> ',array4.tolist())

array5=array2d[[0,1]]
print('array2d[[0,1]] -> ',array5.tolist())

array2d[[0,1],2] ->  [3, 6]
array2d[[0,1],0:2] ->  [[1, 2], [4, 5]]
array2d[[0,1]] ->  [[1, 2, 3], [4, 5, 6]]

불린 인덱싱
> 조건필터리오가 검색 동시에

In [46]:
array1d=np.arange(start=1,stop=10)
#[]안에 array1d>5 Voolean indexing을 적용
array3=array1d[array1d>5]
print('array1d>5 불린 인덱싱 결과 값:',array3)

array1d>5 불린 인덱싱 결과 값: [6 7 8 9]

In [47]:
array1d>5

array([False, False, False, False, False,  True,  True,  True,  True])

In [48]:
boolean_indexes=np.array([False,False,False,False,False,True,True,True,True])
array3=array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과:',array3)

불린 인덱스로 필터링 결과: [6 7 8 9]

In [49]:
indexes=np.array([5,6,7,8])
array4=array1d[indexes]
print('일반 인덱스로 필터링 결과:',array4)

일반 인덱스로 필터링 결과: [6 7 8 9]

#### **행렬의 정렬-sort()와 argsort()**
**행령 정렬**

In [51]:
org_array=np.array([3,1,9,5])
print('원본 행렬:',org_array)

#np.sort()로 정렬
sort_array1=np.sort(org_array)
print('np.sort() 호출 후 반환된 정렬 행렬;',sort_array1)
print('np.sort() 호출 후 원본 행렬;',org_array)

#ndarray.sort()로 정렬
sort_array2=org_array.sort()
print('org_array.sort() 호출 후 반환된 정렬 행렬;',sort_array2)
print('org_array.sort() 호출 후 원본 행렬;',org_array)

원본 행렬: [3 1 9 5]
np.sort() 호출 후 반환된 정렬 행렬; [1 3 5 9]
np.sort() 호출 후 원본 행렬; [3 1 9 5]
org_array.sort() 호출 후 반환된 정렬 행렬; None
org_array.sort() 호출 후 원본 행렬; [1 3 5 9]

In [52]:
sort_array1_desc=np.sort(org_array)[::-1]
print("내림차순으로 정렬:",sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

In [53]:
array2d=np.array([[8,12],[7,1]])

sort_array2d_axis0=np.sort(array2d,axis=0)
print('로우 방향을 정렬:\n',sort_array2d_axis0)

sort_array2d_axis1=np.sort(array2d,axis=1)
print('칼럼 방향을 정렬:\n',sort_array2d_axis1)

로우 방향을 정렬:
 [[ 7  1]
 [ 8 12]]
칼럼 방향을 정렬:
 [[ 8 12]
 [ 1  7]]

정렬된 행렬의 인덱스를 반환하기

In [55]:
org_array=np.array([3,1,9,5])
sort_indices=np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:',sort_indices)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]

In [56]:
org_array=np.array([3,1,9,5])
sort_indices_desc=np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:',sort_indices_desc)

행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [57]:
import numpy as np

name_array=np.array(['John','Mike','Sarah','Kate','Samuel'])
score_array=np.array([78,95,84,98,88])

sort_indices_asc=np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:',sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:',name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

#### **선형대수 연산-행렬 내적과 전치 행렬 구하기**

In [59]:
A=np.array([[1,2,3],[4,5,6]])

B=np.array([[7,8],[9,10],[11,12]])

dot_product=np.dot(A,B)
print('행렬 내적 결과:\n',dot_product)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]

**전치 행렬**

In [60]:
A=np.array([[1,2],[3,4]])
transpose_mat=np.transpose(4)
print('A의 전치 행렬:\n',transpose_mat)

A의 전치 행렬:
 4